.controls {
  display: flex;
  margin-left: auto;
  column-gap: 40px;
}

.cost {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.cost_icon {
  width: 36px;
  height: 36px;
}

.error {
  composes: text text_type_main-default pl-2 pr-2 mt-4 from global;
  color: var(--colors-interface-error);
  text-align: right;
}
