.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  color: var(--text-primary-color);
}

.inner_ingredients {
  composes: list-reset from global;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.ingredient_item {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.drag_icon {
  cursor: pointer;
}
