.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  color: var(--text-primary-color);
}

.inner_ingredients {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  overflow-y: auto;
  composes: list-reset from global;
  scrollbar-gutter: stable;
}

.ingredient_item {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.drag_icon {
  cursor: pointer;
}

.order_controls {
  display: flex;
  margin-left: auto;
  column-gap: 40px;
}

.order_cost {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.order_cost_icon {
  width: 36px;
  height: 36px;
}
