.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-top: 2px;
  overflow: hidden;
  color: var(--text-primary-color);
}

.inner_ingredients {
  composes: list-reset from global;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  overflow-y: auto;
  scrollbar-gutter: stable;
}
