.header {
  display: flex;
  align-items: center;
  min-height: 60px;
}

.close_btn {
  display: flex;
  margin-left: auto;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
