.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 40px;
  color: var(--text-primary-color);
  background-color: var(--background-alt);
}

.title {
  width: 100%;
  max-width: 1280px;
}

:global(.text).title {
  margin-right: auto;
  margin-left: auto;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
