.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 720px;
  padding: 40px 40px 60px;
  background-color: var(--background);
  border-radius: 40px;
  transform: translate(-50%, -50%);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
