:root {
  --header-height: 88px;
}

body {
  margin: 0;
}

/* Fix for scrollbar */

@supports (scrollbar-color: auto) {
  .custom-scroll {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }

  body {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }
}

* {
  box-sizing: border-box;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  color: var(--colors-interface-accent);
  text-decoration: none;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    text-decoration: underline;
    opacity: 0.9;
  }
}

.fullscreen-loader {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}
