body {
  margin: 0;
}

/* Fix for scrollbar */

@supports (scrollbar-color: auto) {
  .custom-scroll {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }

  body {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }
}

* {
  box-sizing: border-box;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
