.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text {
  composes: mt-5 from global;
  max-width: 600px;
  text-align: center;
}

.code {
  composes: text text_type_digits-large from global;
  color: var(--colors-interface-error);
}
