.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.price {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.title {
  text-align: center;
}
