.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
}

.header {
  display: flex;
  justify-content: center;
}

.title {
  composes: text text_type_main-medium from global;
}

.form {
  composes: mt-6 from global;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.formInputs {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.footer {
  composes: mt-20 from global;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}
