.header {
  background-color: var(--background);
}

.menu {
  display: flex;
  align-items: center;
  max-width: 1280px;
  height: var(--header-height);
  margin: 0 auto;
}

.menu_part {
  display: flex;
  flex-basis: 35%;
}

.menu_part_right {
  justify-content: flex-end;
}

.link {
  display: flex;
  align-items: center;
  color: var(--text-inactive-color);
  text-decoration: none;
}

.link_active {
  color: var(--text-primary-color);
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
